@model DynamicCrawler.Models.Url

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","Url",FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-3 form-actions no-color">
            <input type="button" value="Cancel" class="btn btn-default" onclick="closeCurrentModal()" />
            <input type="button" value="Delete" class="btn btn-danger" onclick="saveProperty()"/>
        </div>
    }
</div>
<script>
    function closeCurrentModal() {
        var editUrlWindow = $("#editUrlWindow");
        editUrlWindow.data("kendoWindow").close();
        $("#editUrlWindow").remove();
    }

    function saveProperty() {
        var request = $.ajax({
            url: "/Url/Delete",
            type: "POST",
            data: {
                Id: @Model.Id+""
            },
            dataType: "json",
            success: function (result) {
                closeCurrentModal();
                reloadDetails();  //in mapping=>details
            }
        });
    }
</script>