@model IEnumerable<DynamicCrawler.Models.ViewModel.Transfer>
<h3>Result Data:</h3>
<table class="table" id="transferTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
    }
</table>
<script>
    $(document).ready(function () {
        $("#transferTable").kendoGrid({
            height: 550,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 6
            },
            dataSource: {
                pageSize: 12
            }
        });
    });
</script>
